on:
  push:
    branches: master
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Github pages
    permissions:
      pages: write      
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
    - name: Install
      run: npm run build
    - name: Build
      run: npm run build
    - name: Deploy to Github Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_dir: ./build   
      
    
